In [1]:
# 기본 데이터 라이브러리 로드
import sys # 시스템 파라미터에 접근할 수 있게 도와준다.
print("Python version: {}". format(sys.version))

import pandas as pd # 데이터 정제에 도움을 주는 라이브러리
print("pandas version: {}". format(pd.__version__))

import matplotlib # 매트랩에서 사용하는 시각화 도구를 사용할 수 있게 도와주는 시각화 도구
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np # 행렬 계산을 위해 필요한 라이브러리
print("NumPy version: {}". format(np.__version__))

import scipy as sp # 수학 관련 함수가 내장된 라이브러리
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display # 주피터 노트북에서 예쁘게 시각화 해주는 도구
print("IPython version: {}". format(IPython.__version__)) 

import sklearn # 각종 통계 도구와 머신 러닝 알고리즘이 내장되어 있는 라이브러리
print("scikit-learn version: {}". format(sklearn.__version__))

import tensorflow as tf
print("tensorflow version: {}".format(tf.__version__))

import geopandas as gpd # 공간정보 라이브러리
print("geopandas version: {}".format(gpd.__version__))

# 파이썬 내장 라이브러리
import random
import datetime
import time
import os
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import copy

# 모델링 라이브러리, 수학 계산 툴 로드
# 일반적인 모델링 라이브러리
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier

# 모델링 시 헬퍼 함수들
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

# interpolation 함수
import scipy.interpolate as spi
from scipy import stats

# model load
import pickle
# from sklearn.externals import joblib

# 시각화 도구
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.plotting import scatter_matrix

# 시각화 도구 default 세팅
# 주피터 노트북에서 plot 결과를 볼 수 있게 해준다.
%matplotlib inline
mpl.style.use('ggplot') # matplotlib에서 plot되는 결과를 선택할 수 있다.
sns.set_style('white') # seaborn에서 사용할 style을 설정할 수 있다.
pylab.rcParams['figure.figsize'] = 12,8 # plot의 크기와 선 등의 기본 값을 설정할 수 있다.

plt.style.use(['fivethirtyeight'])
sns.set_style('darkgrid')

from IPython.display import display #print가 아닌 display()로 연속 출력
from IPython.display import HTML #출력 결과를 HTML로 생성
import fiona #공간데이터를 딕셔너리 형태 등으로 접근할 수 있는 라이브러리

# 좌표계 정의/변환용 라이브러리
import pyproj

# 좌표간의 거리 구하기 위한 라이브러리
from haversine import haversine

# Jupyter Notebook 이나 ipython 을 사용하다보면 향후 버전이 올라갈 때 변경될 사항 등을 알려주는 경고 메시지(warning message)를 뜨지 않게 해준다.
import warnings
warnings.filterwarnings('ignore')
print('-'*25)

# 뒤에서 overlay를 활용하기 위함. 설치 후 런타임 다시 시작할 것
import rtree
import pathlib
#from geoband import API

import mapclassify

import dateutil

Python version: 3.8.8 (tags/v3.8.8:024d805, Feb 19 2021, 13:18:16) [MSC v.1928 64 bit (AMD64)]
pandas version: 1.4.3
matplotlib version: 3.5.2
NumPy version: 1.22.4
SciPy version: 1.8.1
IPython version: 8.4.0
scikit-learn version: 1.1.1
tensorflow version: 2.9.1
geopandas version: 0.11.0
-------------------------

In [12]:
os.getcwd()

'c:\\Users\\chldl\\Desktop\\공부\\공모전\\통계데이터활용경진대회\\Codespace'

In [13]:
os.chdir("c:\\Users\\chldl\\Desktop\\공부\\공모전\\통계데이터활용경진대회\\서울시빅데이터캠퍼스\\생활인구")

In [25]:
forders = os.listdir()
forders[36:]

['LOCAL_PEOPLE_DONG_202101.csv',
 'LOCAL_PEOPLE_DONG_202102.csv',
 'LOCAL_PEOPLE_DONG_202103.csv',
 'LOCAL_PEOPLE_DONG_202104.csv',
 'LOCAL_PEOPLE_DONG_202105.csv',
 'LOCAL_PEOPLE_DONG_202106.csv',
 'LOCAL_PEOPLE_DONG_202107.csv',
 'LOCAL_PEOPLE_DONG_202108.csv',
 'LOCAL_PEOPLE_DONG_202109.csv',
 'LOCAL_PEOPLE_DONG_202110.csv',
 'LOCAL_PEOPLE_DONG_202111.csv',
 'LOCAL_PEOPLE_DONG_202112.csv',
 'LOCAL_PEOPLE_DONG_202201.csv',
 'LOCAL_PEOPLE_DONG_202202.csv',
 'LOCAL_PEOPLE_DONG_202203.csv',
 'LOCAL_PEOPLE_DONG_202204.csv',
 'LOCAL_PEOPLE_DONG_202205.csv',
 'LOCAL_PEOPLE_DONG_202206.csv',
 'LOCAL_PEOPLE_DONG_202207.csv']

In [74]:
df_all_years = pd.DataFrame()

for files in forders[36:]:
    df= pd.read_csv(files, index_col=False)
    df_all_years = pd.concat([df_all_years, df])

In [75]:
df_all_years = df_all_years.reset_index(drop=True)
df_all_years['기준일ID'] = df_all_years['기준일ID'].astype(str)
df_all_years['datetime'] = df_all_years['기준일ID'].apply(dateutil.parser.parse, dayfirst=True)

In [87]:
temp = ['남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수']

In [ ]:
import re

answer = []

for i in range(len(temp)):
    number = re.findall(r'\d+', temp[i])
    if temp[i].startswith('남자'):
        try:
            answer.append('man_' + number[0] + "_" + number[1])
        except:
            answer.append('man_' + number[0])
    else:
        try:
            answer.append('woman_' + number[0] + "_" + number[1])
        except:
            answer.append('woman_' + number[0])

In [100]:
df_all_years2 = df_all_years

In [101]:
df_all_years2.columns = ['기준일ID', '시간대구분', '행정동코드', '총생활인구수', 'man_0_9',
 'man_10_14',
 'man_15_19',
 'man_20_24',
 'man_25_29',
 'man_30_34',
 'man_35_39',
 'man_40_44',
 'man_45_49',
 'man_50_54',
 'man_55_59',
 'man_60_64',
 'man_65_69',
 'man_70',
 'woman_0_9',
 'woman_10_14',
 'woman_15_19',
 'woman_20_24',
 'woman_25_29',
 'woman_30_34',
 'woman_35_39',
 'woman_40_44',
 'woman_45_49',
 'woman_50_54',
 'woman_55_59',
 'woman_60_64',
 'woman_65_69',
 'woman_70', 'datetime']

In [116]:
df_all_years2 = df_all_years2[df_all_years2.columns[:-1]].astype(int)

In [119]:
df_all_years2['datetime'] = df_all_years['datetime']

In [121]:
df_all_years2.to_csv("21-22_유동인구_데이터.csv")

In [131]:
df_all_years3 = df_all_years2
df_all_years3 = df_all_years3.reset_index()
df_all_years3.set_index('datetime')

,index,기준일ID,시간대구분,행정동코드,총생활인구수,man_0_9,man_10_14,man_15_19,man_20_24,man_25_29,...,woman_25_29,woman_30_34,woman_35_39,woman_40_44,woman_45_49,woman_50_54,woman_55_59,woman_60_64,woman_65_69,woman_70
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-01,0,20210101,0,11110515,14473,504,321,474,624,507,...,424,459,534,673,746,609,590,422,339,1138
2021-01-01,1,20210101,0,11110530,13299,364,162,254,318,449,...,459,537,667,565,603,522,543,447,363,1138
2021-01-01,2,20210101,0,11110550,15518,418,324,380,529,470,...,417,448,621,636,840,692,693,630,421,1456
2021-01-01,3,20210101,0,11110600,5108,122,86,90,203,137,...,127,180,183,268,268,247,227,163,135,406
2021-01-01,4,20210101,0,11110700,7907,224,106,153,194,272,...,280,279,309,316,371,370,377,258,213,532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-31,5871547,20220731,23,11140615,24152,144,105,228,775,1430,...,1297,1288,1411,1177,1060,888,954,773,457,973
2022-07-31,5871548,20220731,23,11230710,18702,370,181,556,1679,1197,...,1447,543,549,472,501,480,503,431,424,1254
2022-07-31,5871549,20220731,23,11710550,16285,518,311,401,431,557,...,441,543,551,486,578,675,765,831,525,1349
2022-07-31,5871550,20220731,23,11710580,30229,1181,483,608,787,1501,...,1752,1754,1597,1263,1207,996,1159,988,772,1542
2022-07-31,5871551,20220731,23,11650580,18442,888,655,824,430,465,...,415,451,724,805,1214,754,554,474,408,999

In [ ]:
df_all_years3 = df_all_years3.groupby(pd.Grouper(freq='Y'))