In [1]:
# 기본 데이터 라이브러리 로드
import sys # 시스템 파라미터에 접근할 수 있게 도와준다.
print("Python version: {}". format(sys.version))

import pandas as pd # 데이터 정제에 도움을 주는 라이브러리
print("pandas version: {}". format(pd.__version__))

import matplotlib # 매트랩에서 사용하는 시각화 도구를 사용할 수 있게 도와주는 시각화 도구
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np # 행렬 계산을 위해 필요한 라이브러리
print("NumPy version: {}". format(np.__version__))

import scipy as sp # 수학 관련 함수가 내장된 라이브러리
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display # 주피터 노트북에서 예쁘게 시각화 해주는 도구
print("IPython version: {}". format(IPython.__version__)) 

import sklearn # 각종 통계 도구와 머신 러닝 알고리즘이 내장되어 있는 라이브러리
print("scikit-learn version: {}". format(sklearn.__version__))

import tensorflow as tf
print("tensorflow version: {}".format(tf.__version__))

import geopandas as gpd # 공간정보 라이브러리
print("geopandas version: {}".format(gpd.__version__))

# 파이썬 내장 라이브러리
import random
import datetime
import time
import os
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import copy

# 모델링 라이브러리, 수학 계산 툴 로드
# 일반적인 모델링 라이브러리
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier

# 모델링 시 헬퍼 함수들
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

# interpolation 함수
import scipy.interpolate as spi
from scipy import stats

# model load
import pickle
# from sklearn.externals import joblib

# 시각화 도구
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.plotting import scatter_matrix

# 시각화 도구 default 세팅
# 주피터 노트북에서 plot 결과를 볼 수 있게 해준다.
%matplotlib inline
mpl.style.use('ggplot') # matplotlib에서 plot되는 결과를 선택할 수 있다.
sns.set_style('white') # seaborn에서 사용할 style을 설정할 수 있다.
pylab.rcParams['figure.figsize'] = 12,8 # plot의 크기와 선 등의 기본 값을 설정할 수 있다.

plt.style.use(['fivethirtyeight'])
sns.set_style('darkgrid')

from IPython.display import display #print가 아닌 display()로 연속 출력
from IPython.display import HTML #출력 결과를 HTML로 생성
import fiona #공간데이터를 딕셔너리 형태 등으로 접근할 수 있는 라이브러리

# 좌표계 정의/변환용 라이브러리
import pyproj

# 좌표간의 거리 구하기 위한 라이브러리
from haversine import haversine

# Jupyter Notebook 이나 ipython 을 사용하다보면 향후 버전이 올라갈 때 변경될 사항 등을 알려주는 경고 메시지(warning message)를 뜨지 않게 해준다.
import warnings
warnings.filterwarnings('ignore')
print('-'*25)

# 뒤에서 overlay를 활용하기 위함. 설치 후 런타임 다시 시작할 것
import rtree
import pathlib
#from geoband import API

import mapclassify

import dateutil

Python version: 3.8.8 (tags/v3.8.8:024d805, Feb 19 2021, 13:18:16) [MSC v.1928 64 bit (AMD64)]
pandas version: 1.4.3
matplotlib version: 3.5.2
NumPy version: 1.22.4
SciPy version: 1.8.1
IPython version: 8.4.0
scikit-learn version: 1.1.1
tensorflow version: 2.9.1
geopandas version: 0.11.0
-------------------------

In [5]:
os.getcwd()

'c:\\Users\\chldl\\Desktop\\공부\\공모전\\통계데이터활용경진대회\\서울시빅데이터캠퍼스\\생활인구'

In [3]:
os.chdir("c:\\Users\\chldl\\Desktop\\공부\\공모전\\통계데이터활용경진대회\\서울시빅데이터캠퍼스\\생활인구")

In [7]:
forders = os.listdir()
forders

['21-22_유동인구_데이터.csv', '자치구 단위 서울 생활인구(내국인).csv']

In [10]:
df = pd.read_csv("자치구 단위 서울 생활인구(내국인).csv", index_col=False, encoding='cp949')

In [11]:
df

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220825,0,11110,208345.4406,4789.5392,2890.6536,5564.0041,8773.9494,8779.3354,7301.5125,...,9175.5343,7156.9249,8168.6707,7621.5629,8951.5339,7693.4974,8527.8156,6796.9263,5330.8099,14604.4567
1,20220825,0,11140,180442.2413,4045.9185,1610.6978,2582.3550,6244.2922,8240.6634,8523.7769,...,8876.5541,8404.8564,9547.4785,7361.8287,7058.1491,6150.8865,6416.1722,5529.9353,3947.0959,10138.8534
2,20220825,0,11170,257257.9931,7585.5187,3733.8689,5403.8973,8085.7315,9999.8313,11302.2087,...,12093.3618,12707.8903,14620.7936,10699.4384,10935.1605,9240.9071,9201.2887,7882.0439,5874.4074,15790.6339
3,20220825,0,11200,321436.2832,11582.3162,4749.0667,6644.3443,11267.8461,13187.4011,12115.0042,...,13900.5774,13754.8263,17166.0251,13189.2688,12930.1737,11501.6307,12188.9964,10248.1201,7857.7076,19765.4509
4,20220825,0,11215,364930.2600,10627.9422,5705.4915,9098.2198,14836.2336,17663.9508,14911.3103,...,20499.7149,16293.7146,16186.1440,13878.6759,14668.9578,13040.2567,14279.8801,11691.6707,8676.6408,19448.7938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,20190912,15,11620,417618.9954,12441.5297,6033.3919,8149.6651,14660.8853,22389.0483,19326.0549,...,18990.7735,15380.0961,16695.9762,14999.1080,15454.7881,13641.6837,15621.7094,14494.5422,12452.4073,30583.4735
639996,20190912,15,11650,474766.2506,16040.0787,8503.4540,13915.6417,15468.2600,18096.7706,17214.4750,...,19752.0810,18459.6728,20434.4114,18634.2010,20460.5546,16425.0023,17025.4941,16030.6194,12490.1835,31010.9496
639997,20190912,15,11680,602173.4873,16513.6998,10598.7015,26311.1544,18023.6958,24164.1611,23579.8455,...,27682.7371,26177.2638,26539.2787,23858.5902,26226.6679,19353.7343,19837.9638,19007.7094,14566.3867,35270.1967
639998,20190912,15,11710,673849.7763,24241.0690,12555.8774,17388.1208,19170.3444,24528.2406,25063.2736,...,25718.4025,27447.6507,31299.7594,25947.0533,27066.2413,23987.9058,28301.5482,26616.9575,19589.4705,45420.7189
639999,20190912,15,11740,425596.2952,14689.0606,7675.9060,11461.5638,10979.1078,13853.0926,14170.8908,...,13366.4160,13953.8783,17553.6973,15529.3218,17626.5302,16040.6900,20043.5123,19213.4220,14505.5114,32044.3681

In [12]:
df = df.reset_index(drop=True)
df['기준일ID'] = df['기준일ID'].astype(str)
df['datetime'] = df['기준일ID'].apply(dateutil.parser.parse, dayfirst=True)

In [13]:
temp = ['남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수']

In [14]:
import re

answer = []

for i in range(len(temp)):
    number = re.findall(r'\d+', temp[i])
    if temp[i].startswith('남자'):
        try:
            answer.append('man_' + number[0] + "_" + number[1])
        except:
            answer.append('man_' + number[0])
    else:
        try:
            answer.append('woman_' + number[0] + "_" + number[1])
        except:
            answer.append('woman_' + number[0])

In [15]:
df2 = df

In [16]:
df2.columns = ['기준일ID', '시간대구분', '행정동코드', '총생활인구수', 'man_0_9',
 'man_10_14',
 'man_15_19',
 'man_20_24',
 'man_25_29',
 'man_30_34',
 'man_35_39',
 'man_40_44',
 'man_45_49',
 'man_50_54',
 'man_55_59',
 'man_60_64',
 'man_65_69',
 'man_70',
 'woman_0_9',
 'woman_10_14',
 'woman_15_19',
 'woman_20_24',
 'woman_25_29',
 'woman_30_34',
 'woman_35_39',
 'woman_40_44',
 'woman_45_49',
 'woman_50_54',
 'woman_55_59',
 'woman_60_64',
 'woman_65_69',
 'woman_70', 'datetime']

In [17]:
df2

,기준일ID,시간대구분,행정동코드,총생활인구수,man_0_9,man_10_14,man_15_19,man_20_24,man_25_29,man_30_34,...,woman_30_34,woman_35_39,woman_40_44,woman_45_49,woman_50_54,woman_55_59,woman_60_64,woman_65_69,woman_70,datetime
0,20220825,0,11110,208345.4406,4789.5392,2890.6536,5564.0041,8773.9494,8779.3354,7301.5125,...,7156.9249,8168.6707,7621.5629,8951.5339,7693.4974,8527.8156,6796.9263,5330.8099,14604.4567,2022-08-25
1,20220825,0,11140,180442.2413,4045.9185,1610.6978,2582.3550,6244.2922,8240.6634,8523.7769,...,8404.8564,9547.4785,7361.8287,7058.1491,6150.8865,6416.1722,5529.9353,3947.0959,10138.8534,2022-08-25
2,20220825,0,11170,257257.9931,7585.5187,3733.8689,5403.8973,8085.7315,9999.8313,11302.2087,...,12707.8903,14620.7936,10699.4384,10935.1605,9240.9071,9201.2887,7882.0439,5874.4074,15790.6339,2022-08-25
3,20220825,0,11200,321436.2832,11582.3162,4749.0667,6644.3443,11267.8461,13187.4011,12115.0042,...,13754.8263,17166.0251,13189.2688,12930.1737,11501.6307,12188.9964,10248.1201,7857.7076,19765.4509,2022-08-25
4,20220825,0,11215,364930.2600,10627.9422,5705.4915,9098.2198,14836.2336,17663.9508,14911.3103,...,16293.7146,16186.1440,13878.6759,14668.9578,13040.2567,14279.8801,11691.6707,8676.6408,19448.7938,2022-08-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,20190912,15,11620,417618.9954,12441.5297,6033.3919,8149.6651,14660.8853,22389.0483,19326.0549,...,15380.0961,16695.9762,14999.1080,15454.7881,13641.6837,15621.7094,14494.5422,12452.4073,30583.4735,2019-12-09
639996,20190912,15,11650,474766.2506,16040.0787,8503.4540,13915.6417,15468.2600,18096.7706,17214.4750,...,18459.6728,20434.4114,18634.2010,20460.5546,16425.0023,17025.4941,16030.6194,12490.1835,31010.9496,2019-12-09
639997,20190912,15,11680,602173.4873,16513.6998,10598.7015,26311.1544,18023.6958,24164.1611,23579.8455,...,26177.2638,26539.2787,23858.5902,26226.6679,19353.7343,19837.9638,19007.7094,14566.3867,35270.1967,2019-12-09
639998,20190912,15,11710,673849.7763,24241.0690,12555.8774,17388.1208,19170.3444,24528.2406,25063.2736,...,27447.6507,31299.7594,25947.0533,27066.2413,23987.9058,28301.5482,26616.9575,19589.4705,45420.7189,2019-12-09
639999,20190912,15,11740,425596.2952,14689.0606,7675.9060,11461.5638,10979.1078,13853.0926,14170.8908,...,13953.8783,17553.6973,15529.3218,17626.5302,16040.6900,20043.5123,19213.4220,14505.5114,32044.3681,2019-12-09

In [18]:
df2 = df2[df2.columns[:-1]].astype(int)

In [19]:
df2

,기준일ID,시간대구분,행정동코드,총생활인구수,man_0_9,man_10_14,man_15_19,man_20_24,man_25_29,man_30_34,...,woman_25_29,woman_30_34,woman_35_39,woman_40_44,woman_45_49,woman_50_54,woman_55_59,woman_60_64,woman_65_69,woman_70
0,20220825,0,11110,208345,4789,2890,5564,8773,8779,7301,...,9175,7156,8168,7621,8951,7693,8527,6796,5330,14604
1,20220825,0,11140,180442,4045,1610,2582,6244,8240,8523,...,8876,8404,9547,7361,7058,6150,6416,5529,3947,10138
2,20220825,0,11170,257257,7585,3733,5403,8085,9999,11302,...,12093,12707,14620,10699,10935,9240,9201,7882,5874,15790
3,20220825,0,11200,321436,11582,4749,6644,11267,13187,12115,...,13900,13754,17166,13189,12930,11501,12188,10248,7857,19765
4,20220825,0,11215,364930,10627,5705,9098,14836,17663,14911,...,20499,16293,16186,13878,14668,13040,14279,11691,8676,19448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,20190912,15,11620,417618,12441,6033,8149,14660,22389,19326,...,18990,15380,16695,14999,15454,13641,15621,14494,12452,30583
639996,20190912,15,11650,474766,16040,8503,13915,15468,18096,17214,...,19752,18459,20434,18634,20460,16425,17025,16030,12490,31010
639997,20190912,15,11680,602173,16513,10598,26311,18023,24164,23579,...,27682,26177,26539,23858,26226,19353,19837,19007,14566,35270
639998,20190912,15,11710,673849,24241,12555,17388,19170,24528,25063,...,25718,27447,31299,25947,27066,23987,28301,26616,19589,45420
639999,20190912,15,11740,425596,14689,7675,11461,10979,13853,14170,...,13366,13953,17553,15529,17626,16040,20043,19213,14505,32044

In [20]:
df2['datetime'] = df['datetime']

In [24]:
df3 = df2
df3 = df3.reset_index()
df3 = df3.set_index('datetime')

In [167]:
len(set(df_all_years3['행정동코드']))

424

In [68]:
df4 = df3.groupby([pd.Grouper('시간대구분'), pd.Grouper('행정동코드')]).sum()

In [72]:
df4 = df4.drop(['index', '기준일ID'], axis=1)

In [74]:
df4

                총생활인구수   man_0_9  man_10_14  man_15_19  man_20_24  man_25_29  \
시간대구분 행정동코드
0     11110  222983940   5323747    3198785    5582554    9421820    9819281
      11140  185394259   4064950    1660778    2742369    6352976    8557139
      11170  276206834   7751187    3847829    5815803    8555749   11362263
      11200  347918316  12528867    5277453    7335323   11575479   14299978
      11215  397638341  11736693    6365720   10256984   15569834   19184502
...                ...       ...        ...        ...        ...        ...
23    11620  548263167  12989366    6362360   11172647   22878771   39071554
      11650  517721964  20537782   11272653   14971529   14014498   17208038
      11680  710516744  25810979   16923183   23772533   18798400   25777179
      11710  792332350  32551830   16573898   21207450   19653750   27103178
      11740  564288825  23093906   12953730   15808515   13674762   17487257

             man_30_34  man_35_39  man_40_44  man_45_49  ...  woman_25_29  \
시간대구분 행정동코드                                              ...
0     11110    7952068    8858975    8242684   10056424  ...      9041776
      11140    8870660   10809394    8768237    8697994  ...      9048003
      11170   12526154   14906288   12312057   12574492  ...     13020918
      11200   13760127   17000709   14401244   14585944  ...     15037134
      11215   16417489   16616019   14532460   15783242  ...     21233210
...                ...        ...        ...        ...  ...          ...
23    11620   30916633   25836911   20557600   21562992  ...     36841634
      11650   18309594   22731338   23638867   26694258  ...     18633964
      11680   27717514   33806359   33695517   36870275  ...     29029052
      11710   29979323   36708764   33106488   34020650  ...     31343666
      11740   18845734   23691791   23106059   23965817  ...     19538890

             woman_30_34  woman_35_39  woman_40_44  woman_45_49  woman_50_54  \
시간대구분 행정동코드
0     11110      7655092      8567716      7953741      9630899      8266237
      11140      8777934      9506699      7326452      7408901      6196545
      11170     13319830     14613241     11287350     11565888      9534436
      11200     15397506     17746921     13720907     13910918     12085864
      11215     17674870     17371910     14911913     16015015     14449248
...                  ...          ...          ...          ...          ...
23    11620     25851980     21989606     17702087     18122611     16476576
      11650     19889278     24550712     23985197     24551630     18257500
      11680     29492439     33728995     33113287     34213156     23625106
      11710     33616874     39009758     33587568     34138876     28877594
      11740     20888706     25584043     23405060     23887823     21205117

             woman_55_59  woman_60_64  woman_65_69  woman_70
시간대구분 행정동코드
0     11110      8974412      7508746      5733046  16484522
      11140      6810374      5985722      4413763  11126401
      11170      9958179      8816319      6387789  17949997
      11200     13306031     11629134      8560508  22162223
      11215     15532064     13202337      9472594  22058182
...                  ...          ...          ...       ...
23    11620     18493455     16640645     13639693  32963103
      11650     17555119     15717326     12546443  29900838
      11680     22121195     19794124     16191424  37713262
      11710     32189324     28275209     21181503  43946790
      11740     24435446     22283813     16850582  36687297

[600 rows x 29 columns]

In [64]:
df4.loc

In [77]:
final = pd.DataFrame()

for i in range(0, 24):
    temp = df4.loc[i]
    i = str(i)
    temp.columns = ['총생활인구수_' + i, 'man_0_9_' + i,
 'man_10_14_' + i,
 'man_15_19_' + i,
 'man_20_24_' + i,
 'man_25_29_' + i,
 'man_30_34_' + i,
 'man_35_39_' + i,
 'man_40_44_' + i,
 'man_45_49_' + i,
 'man_50_54_' + i,
 'man_55_59_' + i,
 'man_60_64_' + i,
 'man_65_69_' + i,
 'man_70_' + i,
 'woman_0_9_' + i,
 'woman_10_14_' + i,
 'woman_15_19_' + i,
 'woman_20_24_' + i,
 'woman_25_29_' + i,
 'woman_30_34_' + i,
 'woman_35_39_' + i,
 'woman_40_44_' + i,
 'woman_45_49_' + i,
 'woman_50_54_' + i,
 'woman_55_59_' + i,
 'woman_60_64_' + i,
 'woman_65_69_' + i,
 'woman_70_' + i]
    final = pd.concat([final, temp], axis=1)

In [78]:
final

,총생활인구수_0,man_0_9_0,man_10_14_0,man_15_19_0,man_20_24_0,man_25_29_0,man_30_34_0,man_35_39_0,man_40_44_0,man_45_49_0,...,woman_25_29_23,woman_30_34_23,woman_35_39_23,woman_40_44_23,woman_45_49_23,woman_50_54_23,woman_55_59_23,woman_60_64_23,woman_65_69_23,woman_70_23
행정동코드,,,,,,,,,,,,,,,,,,,,,
11110,222983940,5323747,3198785,5582554,9421820,9819281,7952068,8858975,8242684,10056424,...,9327498,7849774,8710000,8039169,9717117,8336682,9031952,7542163,5746040,16487531
11140,185394259,4064950,1660778,2742369,6352976,8557139,8870660,10809394,8768237,8697994,...,9260335,8904077,9564072,7387394,7509134,6312705,6926634,6049712,4447303,11156711
11170,276206834,7751187,3847829,5815803,8555749,11362263,12526154,14906288,12312057,12574492,...,13274531,13486474,14685637,11334619,11602378,9561783,9972966,8822784,6383988,17951994
11200,347918316,12528867,5277453,7335323,11575479,14299978,13760127,17000709,14401244,14585944,...,15155688,15451947,17780658,13734082,13931137,12098028,13320570,11641032,8567450,22147749
11215,397638341,11736693,6365720,10256984,15569834,19184502,16417489,16616019,14532460,15783242,...,21284950,17691021,17381879,14924359,16037885,14459638,15560525,13218729,9479171,22064402
11230,376042593,11543755,5760049,8864052,15999775,16972950,13147731,15638517,14090928,14948350,...,16306201,13525276,15096520,12873151,13552036,12514604,13683125,12637390,9783367,28096179
11260,408197118,13890299,6712960,8791252,11081502,14644084,14313566,17340104,15265244,16013943,...,16145128,15319105,17075032,14201168,16016930,16526344,18987712,16398438,12075983,30591996
11290,473072288,17711049,9918773,13684356,17441932,17621730,14392306,17208525,16483647,19437723,...,17856219,15682087,18920826,17532740,20211467,17418681,18096005,15759170,12330151,35263563
11305,341201529,10548838,5774122,8192354,9963757,11735853,10226295,12290072,11911431,13993853,...,12235189,10162843,12160349,11470770,14518247,13691461,15036403,13475885,10893165,31966020
11320,312603633,10769333,6017536,8030322,8439175,9860938,9159956,11581643,10710465,12517840,...,10400445,9846811,11515491,10607398,13018119,12905753,14654574,13384979,9982329,26717186
11350,582389692,21651043,14444392,20753352,20488127,17848178,15910149,19218367,19554351,24345699,...,18018394,17382995,21009411,21800065,27159202,23690019,24918035,21606360,16303557,44003463
11380,512696255,18777701,10346728,13552126,13461808,16632037,16759959,21020454,19502094,21271022,...,19486656,19169566,22620474,20241727,22673511,19835601,22096106,19197239,14418962,40125410
11410,375832701,11942268,5965973,8986688,13804500,15640952,13096702,15279615,13920430,15539483,...,17714978,14702164,16052204,13804127,15206294,13613995,14830492,12441104,8988351,26167573
11440,450663901,14238122,7119378,10374610,15921743,20500349,18794093,22169490,18962778,19908537,...,25352454,22545754,23527203,19285929,19440251,14957152,15022912,12713399,9108969,25770953
11470,436996802,18471901,13093410,15885122,11040116,12663000,12370975,15855836,16876816,20600845,...,13773946,13751947,17491554,18839359,21292846,17128563,17430901,15192117,11372375,26967495
11500,593387098,23442236,10771922,13533832,14340773,22904017,25617670,29351464,24514978,24597029,...,27557613,27387512,28177399,23515181,23206995,19432883,22917652,21063605,16085841,38590216
11530,416754354,15910052,7131549,8938147,10114891,15184240,16652139,19905973,18300323,19111246,...,16248487,16821348,18564899,16211175,16984287,14922132,16991926,15178301,11501296,26557779
11545,219289602,5988714,2860752,3916504,6076162,10798257,10833739,11391407,9284139,9876936,...,10241501,9263858,9195111,7453357,8195380,7969383,9313946,7890824,6002576,13344845
11560,437638982,13852666,6192104,8507709,11032584,19202997,21686375,23768786,19367759,19463911,...,21919522,21819122,21738693,16845535,16523879,14849823,16849267,14335990,10578151,25691014
11590,438277256,14553344,6881744,10070460,16303657,22158105,18557556,18556601,16150526,17261635,...,21274055,17889669,18718315,15954433,16679966,15068491,16869089,15230608,11662359,29690084
11620,550513786,13002641,6368845,11206732,23011770,39375405,31158971,25987570,20658700,21641323,...,36841634,25851980,21989606,17702087,18122611,16476576,18493455,16640645,13639693,32963103
11650,512034747,20552032,11279667,14832703,13636724,16624597,17819129,22246973,23253168,26335747,...,18633964,19889278,24550712,23985197,24551630,18257500,17555119,15717326,12546443,29900838
11680,701907244,25817500,16868094,23576556,18500019,25031279,26889845,32796882,32841993,36252820,...,29029052,29492439,33728995,33113287,34213156,23625106,22121195,19794124,16191424,37713262
11710,791845282,32548235,16582043,21199124,19556581,27035606,29935393,36690489,33135031,34009847,...,31343666,33616874,39009758,33587568,34138876,28877594,32189324,28275209,21181503,43946790
11740,566733240,23120581,12972251,15867424,13773866,17637974,19013811,23882679,23289696,24135985,...,19538890,20888706,25584043,23405060,23887823,21205117,24435446,22283813,16850582,36687297

In [81]:
code = pd.read_csv("행정동 코드.csv")
code = code[["RESD_CD", 'RESD_DO_NM', 'RESC_CT_NM']]
code = code[code['RESD_DO_NM'] == "서울"]
code = code[["RESD_CD", 'RESC_CT_NM']]

In [ ]:
pd.merge(df_left, df_right, how='inner', on=None)

In [93]:
merge_inner = pd.merge(final, code, how='left', left_on='행정동코드', right_on='RESD_CD')

In [96]:
merge_inner.to_csv("자치구_시간별_생활인구.csv")